.TodoTemplate {
    width:520px;
    margin: 0 auto;
    border-radius: 4px;
    overflow:hidden;
    background: #3c3c3c;

    .app-title {
        background: #22b8cf;
        color: #f1f1f1;
        height: 4rem;
        font-size: 1.5rem;
        display:flex;
        align-items: center;
        justify-content: center;
    }

    .content {
        background:#f1f1f1;
    }
}